<!--The content below is only a placeholder and can be replaced.-->
<div id= tocenter>
  <div class="baniere">
  <h1>
    {{ title }}
  </h1>
  <br>
</div>
  <h2><p><i> {{ MapLocation }} </i></p></h2>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
  <agm-marker [latitude]=45.580410 [longitude]=-73.626618>  </agm-marker>
</agm-map>

<br>
<p>Votre premiere fois... choisissez l'un de nos trajet par default</p>
  <table>

    <tr>
      <th>trajet</th>
      <th>nom</th>
      <th>description</th>
    </tr>

    <tr>
      <td><button type="button" (click)="setDirection()">set</button></td>
      <td>nom1</td>
      <td>description1</td> 
    </tr>


    <tr>
        <td><button type="button" (click)="setDirection()">set</button></td>
        <td>nom2</td>
        <td>description2</td>
      </tr>


      <tr>
          <td><button type="button" (click)="setDirection()">set</button></td>
          <td>nom3</td>
          <td>description3</td>
        </tr>

  </table>
	<h2 class="baniere"> <strong>
    Creer par l'équipe Droom Toom <br>
    Olivier Clermont <br>
    Pascal Chayer <br>
    Audrey Germain <br>
    Simren Matharoo <br>
  </strong>
</h2>


</div>
