<!--The content below is only a placeholder and can be replaced.-->
<div id= tocenter>
  <div class="baniere">
  <h1>
    {{ title }}
  </h1>
  <br>
</div>
  <h2><i> {{ intro }} </i></h2>


<app-allMarkers></app-allMarkers> <!--It's the map!!!-->

<br> <br>
<p>Votre premiere fois? ...choisissez l'un de nos trajet par défault</p>
  <table>

    <tr>
      <th>trajet</th>
      <th>nom</th>
      <th>description</th>
    </tr>

    <tr>
      <td><button type="button" (click)="setDirection()">set</button></td>
      <td>Promenade du Fleuve</td>
      <td>Promenade artistique des murales situées en bordure du fleuve St-Laurent</td>
    </tr>

    <tr>
        <td><button type="button" (click)="setDirection()">set</button></td>
        <td>Le centre-ville en art</td>
        <td>Visite du centre-ville passant à côté de plusieurs murales</td>
      </tr>


      <tr>
          <td><button type="button" (click)="setDirection()">set</button></td>
          <td>Marche rapide</td>
          <td>Chemin d'environ 30 minutes qui permet de découvrir plusieurs murales </td>
        </tr>
  </table>
<br> <br>
<p>Vous pouvez aussi personnaliser votre propre trajet!</p>

<h6>
  <div>
    <form>
      Murales: <input type="checkbox" ng-model="myVar">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Monuments: <input type="checkbox" ng-model="myVar">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Lieux Culturels: <input type="checkbox" ng-model="myVar">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Musées: <input type="checkbox" ng-model="myVar">
    </form>
    <br>
    <form>
      Select a topic:
      <select ng-model="myVar">
        <option value="">
        <option value="30 minutes">30 minutes
        <option value="1 heure">1 heure
        <option value="2 heures">2 heures
        <option value="4 heures">4 heures
        <option value="8 heures">8 heures
      </select>
    </form>
    <br>
    <button type="button" (click)="setDirection()">Générer un trajet</button>
  </div>
</h6>

	<h3> <strong>
    Créée par l'équipe Droom Toom <br>
    Olivier Clermont <br>
    Pascal Chayer <br>
    Audrey Germain <br>
    Simren Matharoo
  </strong>
</h3>
<h3 class="baniere"><br><br><br><br><br></h3>


</div>
