<!--The content below is only a placeholder and can be replaced.-->
<div id= tocenter>
  <div class="baniere">
  <h1>
    {{ title }}
  </h1>
  <br>
</div>
  <h2><p><i> {{ MapLocation }} </i></p></h2>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-direction *ngIf="dir" [origin]="dir.origin" [destination]="dir.destination"></agm-direction>
  <agm-marker [latitude]=45.580410 [longitude]=-73.626618>  </agm-marker>
</agm-map>

<br>
  <table>

    <tr>
      <th>numéro</th>
      <th>nom</th>
      <th>description</th>
    </tr>

    <tr>
      <td>1</td>
      <td>nom1</td>
      <td>description1</td>
      <button type="button" (click)="setDirection()">set</button>
    </tr>


    <tr>
        <td>2</td>
        <td>nom2</td>
        <td>description2</td>
        <button type="button" (click)="setDirection()">set</button>
      </tr>


      <tr>
          <td>3</td>
          <td>nom3</td>
          <td>description3</td>
        <button type="button" (click)="setDirection()">set</button>
        </tr>

  </table>
	<div class="baniere">
		Copyright
	</div>


</div>
